.idea/
*.iml
target/
**/target/
**.jar
**/generated
**/node_modules
**/.vscode
**/.settings
**/node_modules
**/go/src/**/vendor
**/go/bin
**/go/pkg
**/dist
**/semantic
**/dependency-reduced-pom.xml
wordcount_output/
**/output
**/bin/